<div class="container">
    <p>
        <em class="blogsDesc">My blogs offer daily accounts of my programming knowledge, along with discoveries and projects I have been pursuing.</em>
    </p>
    <p>
        <a class="blogsLink" href="{{site.baseurl}}/blogs">Blogs</a>
    </p>
    <p>
        <em class="blogsDesc">Find all CSSE-related information on this page. Incldes: Dates, blog type, and other useful information.</em>
    </p>
    <p>
        <a class="blogsLink" href="{{site.baseurl}}/navigation/csse">CSSE</a>
    </p>
    <p>
        <em class="blogsDesc">My game takes inspiration from 2D platformer games such as Mario. Game may not function as expected as it is under development.</em>
    </p>
    <p>
        <a class="gameLink" href="{{site.baseurl}}/game">Game</a>
    </p>
    <p>
        <em class="blogsDesc">The second game also takes inspiration from 2D platformer games such as Mario. Game may not function as expected as it is under development.</em>
    </p>
    <p>
        <a class="gameLink" href="{{site.baseurl}}/game2">Game 2</a>
    </p>
</div>

<style>
    .container {
        margin: 0 auto;
        padding: 4%;
        display: block;
        text-align: center;
    }
    .blogsDesc {
        font-style: normal;
        color: white;
        font-size: 1.625rem;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        padding-bottom: 4%;
    }
    .gameDesc {
        font-style: normal;
        color: white;
        font-size: 1.625rem;
        font-weight: 400;
        letter-spacing: -1px;
        margin-bottom: 0;
        float: left;
        padding-bottom: 4%;
    }
    .blogsLink {
        display: inline-block;
        padding: 1rem 6rem 1rem;
        margin-bottom: 4%;
        background: rgb(136,235,255);
        background: linear-gradient(90deg, rgba(136,235,255,1) 0%, rgba(91,192,212,1) 100%);
        border: 0;
        font-size: large;
        font-weight:bolder;
        font-weight: 700;
        border-radius: 0.3rem;
    }
    .blogsLink:hover {
        display: inline-block;
        padding: 1rem 6rem 1rem;
        margin-bottom: 4%;
        background: rgb(95,228,255);
        background: linear-gradient(90deg, rgba(95,228,255,1) 0%, rgba(59,189,215,1) 100%);
        border: 0;
        text-decoration: none;
        font-size: large;
        font-weight:bolder;
        font-weight: 700;
        border-radius: 0.3rem;
    }
    .gameLink {
        display: inline-block;
        padding: 1rem 6rem 1rem;
        background: rgb(158,217,163);
        background: linear-gradient(90deg, rgba(158,217,163,1) 0%, rgba(38,208,50,1) 100%);
        border: 0;
        font-size: large;
        font-weight:bolder;
        font-weight: 700;
        border-radius: 0.3rem;
    }
    .gameLink:hover {
        display: inline-block;
        padding: 1rem 6rem 1rem;
        background: rgb(135,195,140);
        background: linear-gradient(90deg, rgba(135,195,140,1) 0%, rgba(26,177,37,1) 100%);
        border: 0;
        text-decoration: none;
        font-size: large;
        font-weight:bolder;
        font-weight: 700;
        border-radius: 0.3rem;
    }
</style>